# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

coverage/
.cursor/
.vite/deps/_metadata.json
.vite/deps/chunk-5WRI5ZAA.js
.vite/deps/chunk-5WRI5ZAA.js.map
.vite/deps/chunk-EFT6J6GF.js
.vite/deps/chunk-EFT6J6GF.js.map
.vite/deps/chunk-OJEGDWL3.js
.vite/deps/chunk-OJEGDWL3.js.map
.vite/deps/chunk-UVV3GQ6G.js
.vite/deps/chunk-UVV3GQ6G.js.map
.vite/deps/dexie-react-hooks.js
.vite/deps/dexie-react-hooks.js.map
.vite/deps/dexie.js
.vite/deps/dexie.js.map
.vite/deps/package.json
.vite/deps/preact_compat.js
.vite/deps/preact_compat.js.map
.vite/deps/preact_hooks.js
.vite/deps/preact_hooks.js.map
.vite/deps/preact.js
.vite/deps/preact.js.map
